* {
    margin: 0;
}

body{
    background-color: black;
}

/*NAVBAR*/
header{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

img{
    margin-left: 10%;
}

ul{
    margin-left: 52%;
}

ul > a{
    position: relative;
    color: black;
    font-size: 22px;    
}

ul > a:hover{
    color: grey;
    cursor: pointer;
}

ul > a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

ul > a:hover::before {
    transform: scaleX(1);
}

@media screen and (max-width: 800px){
    header{
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: white;
    }
}
/*NAVBAR*/

/*TÍTULO*/
.titulo__informativo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5%;
    font-size: 25px;
}


/*TITULO*/

/*VIDEO CONTAINER*/
.video__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1.1fr 1fr;
    margin-left: 11%;
    margin-top: 10%;
}

.video_box{
    width: 960px;
    height: 580px;
    background-color: aqua;
}

.text_box{
    width: 700px;
    height: 480px;
    background-color: aquamarine;
}

@media screen and (max-width: 800px) {
    .video_box{
        width: 960px;
        height: 580px;
        background-color: aqua;
    }

    .text_box{
        width: 700px;
        height: 480px;
        background-color: aquamarine;
    }
}
/*VIDEO CONTAINER*/
