* {
    margin: 0;
}

body{
    background-color: #1f1f1f;
}

/*NAVBAR*/
header{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.logo__header{
    margin-left: 10%;
}

ul{
    margin-left: 48%;
}

ul > a{
    position: relative;
    color: black;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif; 
    padding: 12px;   
}

ul > a:hover{
    color: grey;
    cursor: pointer;
}

ul > a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

ul > a:hover::before {
    transform: scaleX(1);
}

@media screen and (max-width: 800px){
    header{
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: white;
    }
}
/*NAVBAR*/

/*TÃTULO*/
.titulo__informativo{
    color: white;
    margin-top: 5%;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.titulo__informativo > h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*TITULO*/

/*VIDEO CONTAINER*/
.video__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1.1fr 1fr;
    margin-left: 11%;
    margin-top: 10%;
}

.video_box{
    width: 960px;
    height: 580px;
    background-color: aqua;
}

.text_box{
    width: 700px;
    height: 480px;
    background-color: aquamarine;
}

@media screen and (max-width: 800px) {
    .video_box{
        width: 960px;
        height: 580px;
        background-color: aqua;
    }

    .text_box{
        width: 700px;
        height: 480px;
        background-color: aquamarine;
    }
}
/*VIDEO CONTAINER*/

/*JOGO*/
.jogo__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogo_box{
    margin: 10%;
    width: 1920px;
    height: 1080px;
    background-color: beige;
}
/*JOGO*/

/*FOOTER*/
hr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer__container > p{
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}