* {
    margin: 0;
}

body{
    background-color: black;
}

header{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: blue;
}

img{
    height: 5%;
    margin-left: 10%;
}

ul{
    margin-left: 48%;
}

ul > a{
    color: white;
    padding: 14px;
    font-size: 22px;
}

ul > a:hover{
    background-color: red;
    cursor: pointer;
}
