* {
    margin: 0;
}

body{
    background-color: #1f1f1f;
}

/*NAVBAR*/
header{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.logo__header{
    margin-left: 10%;
}

ul{
    margin-left: 48%;
}

ul > a{
    position: relative;
    color: black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif; 
    padding: 12px;   
    text-decoration: none;
}

ul > a:hover{
    color: grey;
    cursor: pointer;
}

ul > a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

ul > a:hover::before {
    transform: scaleX(1);
}

@media screen and (max-width: 800px){
    header{
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: white;
    }
}
/*NAVBAR*/

/*TÃTULO*/
.titulo__informativo{
    color: white;
    margin-top: 5%;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.titulo__informativo > h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
}
/*TITULO*/

/*VIDEO CONTAINER*/
.video__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1.1fr 1fr;
    margin-left: 11%;
    margin-top: 10%;
}

.video_box{
    width: 960px;
    height: 580px;
    background-color: aqua;
}

.text_box{
    width: 600px;
    height: 240px;
    background-color: black;
    border-radius: 20px;
}

.text_box:hover{
    width: 620px;
    height: 260px;
    box-shadow: 5px 10px 8px #2e2e2e;
    transition: box-shadow 1s, width 1s, height 1s;
    transition-timing-function: ease-out;
}

.text_box > h2{
    margin-top: 15%;
    margin-left: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.text_box > p{
    margin-top: 2%;
    margin-left: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 800px) {
    .video_box{
        width: 960px;
        height: 580px;
        background-color: aqua;
    }

    .text_box{
        width: 700px;
        height: 480px;
        background-color: aquamarine;
    }
}
/*VIDEO CONTAINER*/

/*JOGO*/
.jogo__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogo_box{
    margin-top: 10%;
    width: 1920px;
    height: 1080px;
    background-color: beige;
}
/*JOGO*/

/*INFOS BOX*/
.informacoes__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos_box{   
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin: 10%;
    width: 1920px;
    height: 540px;
    background-color:white;
    border-radius: 20px;
}

.infos_box > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:black;    
    margin-top: 2%;
}

.infos_box:hover{
    transition: box-shadow 1s;
    box-shadow: rgba(184, 184, 184, 0.25) 0 8px 15px;
}

.info-btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 63%;
    width: 180px;
    height: 55px;
    appearance: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    outline: none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.info-btn:disabled {
    pointer-events: none;
}

.info-btn:hover {
    color: white;
    background-color: black;
    box-shadow: rgba(184, 184, 184, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.info-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.instituicoes_container{
    margin-top: 6%;
}

.logo_psp{
    margin-right: 40px;
    margin-bottom: 25px;
    width: 200px;
    height: 100px;
}

.logo_judiciaria{
    width: 150px;
    height: 150px;
}

.logo_apf{
    width: 250px;
    height: 140px;
}
/*INFOS BOX*/

/*FOOTER*/
.hr_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}

.footer__container{
    display: flex;
    align-items: center;    
    flex-direction: column;
    color: white;
}

.social_media{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social_icons{
    padding: 5px;
    height: 20px;
}

.footer__container > p{
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
/*FOOTER*/

/*INFO PAGE*/
.info-page{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    width: 2640px;
    height: 800px;
    background-color:white;
    border-radius: 20px;
    margin: 12%;
}

.info-page > h1{
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
    margin-top: 2%;
}

.apf-info > h1{
    font-family: 'Montserrat', sans-serif;
    margin-left: 6%;
    margin-top: 4%;
}

.apf-info > h2{
    font-family: 'Montserrat', sans-serif;
    margin-left: 6%;
    margin-top: 4%;
}

.apf-info > a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    margin-left: 6%;
    margin-top: 3%;
}

.apf-info > p{
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    margin-left: 6%;
    margin-bottom: 4%;
}

.psp-info > h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15%;
    margin-left: 6%;
}

.psp-info > a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    margin-top: 3%;
    margin-left: 6%;
}

.psp-info > p{
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    margin-bottom: 4%;
    margin-left: 6%;
}

.judiciaria-info > h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15%;
    margin-left: 6%;
}

.judiciaria-info > a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    margin-top: 3%;
    margin-left: 6%;
}

.judiciaria-info > p{
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    margin-bottom: 4%;
    margin-left: 6%;
}

.apf-mapa{
    width: 500px;
    margin-left: 6%;
}

.psp-mapa{
    width: 500px;
    margin-left: 6%;
}

.judiciaria-mapa{
    width: 500px;
    margin-left: 6%;
}