* {
    margin: 0;
}

body{
    background-color: #1f1f1f;
}

/*NAVBAR*/
header{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.logo__header{
    margin-left: 10%;
}

ul{
    margin-left: 48%;
}

ul > a{
    position: relative;
    color: black;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif; 
    padding: 12px;   
    text-decoration: none;
}

ul > a:hover{
    color: grey;
    cursor: pointer;
}

ul > a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

ul > a:hover::before {
    transform: scaleX(1);
}

@media screen and (max-width: 800px){
    header{
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: white;
    }
}
/*NAVBAR*/

/*TÃTULO*/
.titulo__informativo{
    color: white;
    margin-top: 5%;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.titulo__informativo > h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
}
/*TITULO*/

/*VIDEO CONTAINER*/
.video__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1.1fr 1fr;
    margin-left: 11%;
    margin-top: 10%;
}

.video_box{
    width: 960px;
    height: 580px;
    background-color: aqua;
}

.text_box{
    width: 700px;
    height: 480px;
    background-color: aquamarine;
}

@media screen and (max-width: 800px) {
    .video_box{
        width: 960px;
        height: 580px;
        background-color: aqua;
    }

    .text_box{
        width: 700px;
        height: 480px;
        background-color: aquamarine;
    }
}
/*VIDEO CONTAINER*/

/*JOGO*/
.jogo__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogo_box{
    margin-top: 10%;
    width: 1920px;
    height: 1080px;
    background-color: beige;
}
/*JOGO*/

/*INFOS BOX*/
.informacoes__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos_box{    
    margin: 10%;
    width: 1920px;
    height: 540px;
    background-color:yellow;
}

.infos_box > p{
    margin-top: 1%;
    margin-left: 41%;
}

.info-btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 24%;
    margin-left: 46%;
    width: 180px;
    height: 55px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 20px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    outline: none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.info-btn:disabled {
    pointer-events: none;
}

.info-btn:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.info-btn:active {
    box-shadow: none;
    transform: translateY(0);
}
/*INFOS BOX*/

/*FOOTER*/
.hr_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}

.footer__container{
    display: flex;
    justify-content: center;
    color: white;
}

.instagram_icon{
    height: 20px;
    margin-bottom: 1%;
    margin-top: 20px;
}

.footer__container > p{
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}